
	
<body>
	<div class="lg-container">
		<h1>Admin Area</h1>
		<% if !user_signed_in? %>
		<form action="waka-login.php" id="lg-form" name="lg-form" method="post">
			
			<div>
				<label for="username">Username:</label>
				<input type="text" name="username" id="username" placeholder="username"/>
			</div>
			
			<div>
				<label for="password">Password:</label>
				<input type="password" name="password" id="password" placeholder="password" />
			</div>
			
			<div>				
				<button type="submit" id="login">Login</button>
			</div>
			
		</form>
		<div id="message"></div>
		<%end%>
		<div class="fb">
        <% if user_signed_in? %>
        <img src="<%=current_user.url%>"/>
        <form action="/home/update" method="post" >
        	<input type="hidden" name="user[id]" value="<%=current_user.id%>">
             <div>
				<label for="username">Username:</label>
				<input type="text" name="user[name]" id="username" placeholder="username" value="<%=current_user.name%>"/>
			</div>
			<div>
				<label for="email">Email-id:</label><br/>
				<input type="text" name="user[email]" id="email" placeholder="Email" value="<%=current_user.email%>"/>
			</div>
			<div>
				<label for="username">Provider:</label>
				<input type="text" name="user[provider]" id="email" placeholder="Provider" value="<%=current_user.provider%>"/>
			</div>
			<div>
				<label for="username">Description:</label>

				<textarea rows="4" cols="20" name="user[description]">
                 <%=current_user.description%>
				</textarea>
				
			</div>
			<div>				
				<input type="submit" value="Update"/>
			</div>
            </form>
        <br/>
			Signed in as <%= current_user.name %>. Not you?

			<br/><br/>

			<div id="sign_out"><%= link_to "Sign out", destroy_user_session_path,:method => :delete %></div>

		<% else %>
<!--<div><%= link_to "Sign up", new_user_registration_path %></div>-->
<!--<div><%= link_to "Sign in", new_user_session_path %> ||<br/></div>-->
		<div><a href="<%=user_omniauth_authorize_path(:facebook)%>"><img src="/assets/fb-login.png" width="194px" height="27px"/></a><br/></div>
		<div><a href="<%=user_omniauth_authorize_path(:twitter)%>"><img src="/assets/twitter.png" width="194px" height="27px"/></a><br/></div>
		<div><a href="<%=user_omniauth_authorize_path(:linkedin)%>"><img src="/assets/linkend.png" width="194px" height="27px"/></a><br/></div>

		<% end %>
		
		</div>
	</div>

<style>
.fb{
	margin-left: 47px;
}

#sign_out a{
	font-family: 'Oleo Script', cursive;
	font-size: 18px;
	border:1px solid #000;
	margin-left: 57px;
	padding:5px 10px;
	border:1px solid rgba(51,51,51,.5);
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	
	-webkit-box-shadow: 2px 1px 1px #aaa;
	-moz-box-shadow: 2px 1px 1px #aaa;
	box-shadow: 2px 1px 1px #aaa;
	cursor:pointer;
}
</style>